html, body {
  height: 100%;
  margin: 0;
}

.content {
  float: left;
  height: 100%;
  padding-left: 10px;
}

#botContainer {
  float: right;
  height: 99%;
  width: 460px;
  position: relative;
  display: none;
  border-width: 2px;
  border-style: inset;
}

#botContainer.wc-display {
  display: block;
}

.ac-input div input[type="checkbox"] + div{
  flex: auto !important;
  white-space: unset!important;
  margin: -5px 6px 10px 6px !important;
}

.ac-input div input[type="checkbox"]:checked + div{
  color: #0177ca!important
}

/* code to hide the text input box*/ 
div.wc-console.has-upload-button {
  display: none !important;
} 

/*supress the timestamp and bot name - left side*/
.wc-message-from-bot span { display:none; }

/*supress the you messages 


.wc-message.wc-message-from-me { display:none; }
*/
/* supress the blue box stamp - right side */
.wc-message-from-me span { display:none; }
.wc-message-from.wc-message-from-me span { display:none; }
.wc-message-from.wc-message-from-me.wc-message-content { display:none; }

/* add in the robot */
.wc-message-from-bot {
  background-image: url(https://hlbdemo.blob.core.windows.net/hlbdemocon/pinkrobot_small.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 40px;
  /*    margin-bottom:50px;*/
}